:root{
    --beer-color1: #ffbe5a;
    --beer-color2: #F4faff;
}

.card-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--beer-color1);
    color: white;
    font-weight: bold;
    align-items: left;
    font-size: 24px;
}

.header-link {
    font-size: 14px;
    margin-left: 1,5px;
    margin-left: 1em;
}

.header-tagline{
    font-size: 14px;
}

.card-body{
    top: 50%;
}

.card-footer {
    background-color: var(--beer-color1);
    width: 100%;
    margin-left: -17px;
    position: fixed;
    bottom: 0;
}