:root{
    --beer-color1: #ffbe5a;
    --beer-color2: #F4faff;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--beer-color1);
    color: white;
    font-weight: bold;
    align-items: left;
    font-size: 24px;
    overflow: hidden;

}

.section{
    padding: 80px 0;
}

.section__header{
width: 100%;
max-width: 950px;
margin: 0 auto 40px;

text-align: center;
}

.section__suptitle
{
font-family: "Roboto Slab", cursive;
font-size: 24px;
color: #333;
}

.section_title{
text-transform: uppercase;
font-weight: 700;
font-size: 30px;
color: #333;
}

.section_title:after{
content:"" ;
display: block;
width: 60px;
height: 3px;
margin: 40px auto 20px;

background-color: #ffbe5a;
}
    
.section_text{
    font-size: 15px;
    color: #999;
}

.header-link {
    font-size: 14px;
    padding: 0%;
}

#header-tagline{
    display: inline-block;
    font-size: 14px;
    
}

footer {
    background-color: var(--beer-color1);
    width: 100%;
    position: fixed;
    bottom: 0;
}
