:root{
    --beer-color1: #ffbe5a;
    --beer-color2: #F4faff;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--beer-color1);
    color: white;
    font-weight: bold;
    align-items: left;
    font-size: 24px;
    overflow: hidden;

}

.header-name{
    white-space: nowrap;
    display: inline-block;
}

.header-link {
    font-size: 14px;
    margin-left: 1,5px;
    margin-left: 1em;
}

.header-tagline{
    display: block;
    font-size: 14px;
}

.footer {
    background-color: var(--beer-color1);
    width: 100%;
    position: fixed;
    bottom: 0;
}
    