.lorem {
    border: 2px;
    background-color: hotpink;
}

.card-header {
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 100%;
    background-color: #ffbe5a;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}